*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

header {
    margin: 0 0 40px 70px;

}

.logo {
    width: 30px;
    height: 25px;
    margin: 48px 10px 0 0;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0,0.25));
}

.link-header {
    font-weight: 600;
    font-size: 30px;
    line-height: 29px;
    color: #989D9C;
    margin-right: 23px;
    cursor: pointer;
    text-decoration: none;
}

.image {
    width: 550px;
    height: 460px;
    margin-left: 270px;
    display: inline-block;
    
}

main {
    display: inline-block;
    margin-left: 150px;
    width: 330px;
    height: 79px;
}

h1 {
    font-family: 'Righteous', sans-serif;
    font-weight: 700;
    font-size: 80px;
    line-height: 70px;
    color: #464646;
    width: 500px;
}

p {
    font-weight: 400;
    font-size: 24px;
    line-height: 25px;
    color: #848484;
    width: 500px;
    margin-top: 28px;
    margin-bottom: 39px;
}

.button-main {
    background:#FF5E43 ;
    border-radius: 30px;
    width: 239px;
    height: 64px;
    border: none;
    cursor: pointer;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0,0.25));
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    color: #ffffffff;
}